@import url(https://fonts.googleapis.com/css?family=Ubuntu);

$color-background = #E12486
$color-foreground = #FBE4F0
$color-paragraph: = #F6B2D5

html
  font-size 62.5%
  font-family 'Ubuntu', sans-serif
  font-style normal

body
  padding 1rem
  margin 0
  background-color $color-background
  color $color-foreground

a
  text-decoration none
  color white

h1
  font-size 4.5rem
  margin 0

h1+p
  margin-top 1.5rem
  font-size 2rem
  color $color-paragraph

#container
  width 100%
  height 100%
  text-align center
  margin 10rem 0

footer
  width 100%
  p
    font-size 2rem
    text-align center
